.animation-container{
  height: 300px;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;

  svg.animation-layer{
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;

  }
}
/*
<defs>
<style>
 #Layer_9, #Gator{
   stroke-dasharray: 1000;
   stroke-dashoffset: 1000;

   -webkit-animation: dash 5s ease-in forwards;

 }
#fordøyelsebasseng, #Heving_av_grundar, #green_roofs, #trees, #Sluk_på_gateplan_1_{
  opacity: 0;
  -webkit-animation-delay: 0.4s;
  -webkit-animation: 1s fadeIn 1s linear forwards;

}
#Random_byggings{
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  -webkit-animation-delay: 0.2s;
  -webkit-animation: dash 10s ease-in forwards;
}

@-webkit-keyframes dash {
  to{
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes dash2 {
  from{
    stroke-dashoffset: 2000;
  }
  to{
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes fadeIn {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
</style>
</defs>
*/